In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
dataset = pd.read_csv("../resources/spambase/spambase.data.txt", header=None)

In [4]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [5]:
dataset.describe()

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
count,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,...,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000,4601.000000
mean,0.104553,0.213015,0.280656,0.065425,0.312223,0.095901,0.114208,0.105295,0.090067,0.239413,...,0.038575,0.139030,0.016976,0.269071,0.075811,0.044238,5.191515,52.172789,283.289285,0.394045
std,0.305358,1.290575,0.504143,1.395151,0.672513,0.273824,0.391441,0.401071,0.278616,0.644755,...,0.243471,0.270355,0.109394,0.815672,0.245882,0.429342,31.729449,194.891310,606.347851,0.488698
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.588000,6.000000,35.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.065000,0.000000,0.000000,0.000000,0.000000,2.276000,15.000000,95.000000,0.000000
75%,0.000000,0.000000,0.420000,0.000000,0.380000,0.000000,0.000000,0.000000,0.000000,0.160000,...,0.000000,0.188000,0.000000,0.315000,0.052000,0.000000,3.706000,43.000000,266.000000,1.000000
max,4.540000,14.280000,5.100000,42.810000,10.000000,5.880000,7.270000,11.110000,5.260000,18.180000,...,4.385000,9.752000,4.081000,32.478000,6.003000,19.829000,1102.500000,9989.000000,15841.000000,1.000000

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4601 entries, 0 to 4600
Data columns (total 58 columns):
0     4601 non-null float64
1     4601 non-null float64
2     4601 non-null float64
3     4601 non-null float64
4     4601 non-null float64
5     4601 non-null float64
6     4601 non-null float64
7     4601 non-null float64
8     4601 non-null float64
9     4601 non-null float64
10    4601 non-null float64
11    4601 non-null float64
12    4601 non-null float64
13    4601 non-null float64
14    4601 non-null float64
15    4601 non-null float64
16    4601 non-null float64
17    4601 non-null float64
18    4601 non-null float64
19    4601 non-null float64
20    4601 non-null float64
21    4601 non-null float64
22    4601 non-null float64
23    4601 non-null float64
24    4601 non-null float64
25    4601 non-null float64
26    4601 non-null float64
27    4601 non-null float64
28    4601 non-null float64
29    4601 non-null float64
30    4601 non-null float64
31    4601 non-null float64
32    4601 non-null float64
33    4601 non-null float64
34    4601 non-null float64
35    4601 non-null float64
36    4601 non-null float64
37    4601 non-null float64
38    4601 non-null float64
39    4601 non-null float64
40    4601 non-null float64
41    4601 non-null float64
42    4601 non-null float64
43    4601 non-null float64
44    4601 non-null float64
45    4601 non-null float64
46    4601 non-null float64
47    4601 non-null float64
48    4601 non-null float64
49    4601 non-null float64
50    4601 non-null float64
51    4601 non-null float64
52    4601 non-null float64
53    4601 non-null float64
54    4601 non-null float64
55    4601 non-null int64
56    4601 non-null int64
57    4601 non-null int64
dtypes: float64(55), int64(3)
memory usage: 2.0 MB

In [7]:
X = dataset.as_matrix()[:, :-1]

In [8]:
X.shape

(4601, 57)

In [9]:
from sklearn.preprocessing import StandardScaler

In [10]:
ss = StandardScaler()

In [11]:
X = ss.fit_transform(X)

In [12]:
Y = dataset.as_matrix()[:, -1]

In [13]:
Y.shape

(4601,)

In [14]:
Y = Y.reshape((Y.shape[0], 1))

In [15]:
Y.shape

(4601, 1)

In [16]:
C = 1.0

In [17]:
loss = 'squared_hinge'

In [18]:
penalty = 'l1'

In [19]:
dual = False

In [20]:
random_state=10

In [21]:
verbose=1

In [22]:
from sklearn.svm import LinearSVC

In [23]:
clf = LinearSVC(C=C, loss=loss, penalty=penalty, dual=dual, random_state=random_state, verbose=verbose)

In [24]:
from sklearn import cross_validation

C:\Users\dep-nogi\Anaconda3\envs\py35image\lib\site-packages\sklearn\cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [25]:
train_X, test_X, train_Y, test_Y = cross_validation.train_test_split(X, Y, test_size=0.3, random_state=random_state)

In [26]:
clf.fit(train_X, train_Y.reshape((train_Y.shape[0])))

[LibLinear]

C:\Users\dep-nogi\Anaconda3\envs\py35image\lib\site-packages\sklearn\svm\base.py:920: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

LinearSVC(C=1.0, class_weight=None, dual=False, fit_intercept=True,
     intercept_scaling=1, loss='squared_hinge', max_iter=1000,
     multi_class='ovr', penalty='l1', random_state=10, tol=0.0001,
     verbose=1)

In [27]:
import sklearn.metrics as metrics

In [28]:
validation_result = clf.predict(test_X)

In [29]:
report = metrics.classification_report(test_Y.reshape((test_Y.shape[0])), validation_result)

In [30]:
print(report)

             precision    recall  f1-score   support

        0.0       0.92      0.94      0.93       821
        1.0       0.92      0.89      0.90       560

avg / total       0.92      0.92      0.92      1381

In [31]:
import sys

In [32]:
sys.path.append("../../")

In [33]:
import seq_labeling.svm.L1RegSVM as svm

In [34]:
import importlib

In [35]:
importlib.reload(svm)

In [36]:
fobos_clf = svm.L1RegSVM(eta=0.5, c=0.8, random_state=random_state)

In [37]:
fobos_clf.fit(train_X, train_Y, method="F-FOBOS")

In [38]:
validation_result = fobos_clf.predict(test_X)

In [39]:
report = metrics.classification_report(test_Y.reshape((test_Y.shape[0])), validation_result)

In [40]:
print(report)

             precision    recall  f1-score   support

        0.0       0.69      0.97      0.80       821
        1.0       0.88      0.36      0.51       560

avg / total       0.77      0.72      0.69      1381

In [41]:
fobos_clf2 = svm.L1RegSVM(eta=0.5, c=1.0, random_state=random_state)

In [42]:
fobos_clf2.fit(train_X, train_Y, method="FOBOS")

In [43]:
validation_result2 = fobos_clf2.predict(test_X)

In [44]:
report2 = metrics.classification_report(test_Y.reshape((test_Y.shape[0])), validation_result2)

In [45]:
print(report)

             precision    recall  f1-score   support

        0.0       0.69      0.97      0.80       821
        1.0       0.88      0.36      0.51       560

avg / total       0.77      0.72      0.69      1381

In [46]:
fobos_clf3 = svm.L1RegSVM(eta=0.5, c=1.0, random_state=random_state)

In [47]:
fobos_clf3.fit(train_X, train_Y, method=None)

In [48]:
validation_result3 = fobos_clf3.predict(test_X)

In [49]:
report3 = metrics.classification_report(test_Y.reshape((test_Y.shape[0])), validation_result3)

In [50]:
print(report)

             precision    recall  f1-score   support

        0.0       0.69      0.97      0.80       821
        1.0       0.88      0.36      0.51       560

avg / total       0.77      0.72      0.69      1381